h1,
h6 {
    text-align: center;
}

.container {
    width: 40%;
    margin: auto;
}

/* input:invalid {

    border: 1px solid red;
    animation: shake 0.82s cubic-bezier(.36, .07, .19, .97);
    transform: translate3d(0, 0, 0)
}
*/

span {
    opacity: 0;
    visibility: hidden;
} 