body {
    padding: 0;
    margin: 0;
}

.navbar {
    background-color: whitesmoke;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: auto;
    border-radius: 3px;
    color: grey;
    font-weight: bolder;
}

a {
    padding-left: 15px;
}

body {
    background-color: grey;
}

h1 {
    text-align: center;
    color: whitesmoke;
    padding-bottom: 50px;
}

img {
    height: 350px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


table {
    border: 2px ridge whitesmoke;
    margin: auto;
    text-align: center;
}

th {
    border: 2px whitesmoke;
    padding: 10px;
}

tr {
    border: whitesmoke;
}

td {
    margin: auto;
    border: whitesmoke;
    padding: 8px;
}

thead {
    border: whitesmoke;
}