.centre {
    display: inline-block;
    margin: auto;
    text-align: center;
}

#title {
    text-align: center;
}

.styleType1 {
    list-style-type: lower-alpha;
}

.styleType3 {
    list-style-type: decimal;
}

.styleType4 {
    list-style-type: upper-roman;
}

.styleType5 {
    list-style-type: disc;
}

.styleType6 {
    list-style-type: circle;
}
